.form{
    text-align: left;
    width: 90%;
    padding: 10px;
    
}

.form label{
    float: left;
    font-size: large;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 5px 0px;
    padding-bottom: 10px;
}

.form input{
    width: 100%;
    border: 2px solid rgb(58, 0, 58);
    padding: 5px 10px;
    border-radius: 20px;
}

.form textarea{
    width: 100%;
    border: 2px solid rgb(58, 0, 58);
    padding: 5px 10px;
    border-radius: 20px;

}

.form button{
    margin: 20px 0px;
}
